* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  overflow-x: hidden;
}
body main {
  display: flex;
  height: auto;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 100vw;
  overflow-x: hidden;
  width: 100%;
}
body main #menu_lateral {
  position: relative;
  left: 0;
  top: 0;
  height: auto;
  width: 17.6vw;
  padding: 0px;
}
body main #menu_lateral #cont_fixed {
  padding-top: 20px;
  height: 100%;
  width: 15%;
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #ffffff;
  border-right: 1px solid rgba(134, 134, 134, 0.233);
  position: fixed;
}
body main #menu_lateral #cont_fixed img {
  height: auto;
  width: auto;
}
body main #menu_lateral #cont_fixed #cont_item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
  height: 75%;
  width: 80%;
  list-style: none;
}
body main #menu_lateral #cont_fixed #cont_item a {
  width: 100%;
  height: 10%;
  text-decoration: none;
}
body main #menu_lateral #cont_fixed #cont_item a .item {
  display: flex;
  justify-content: flex-start;
  padding-left: 20px;
  align-items: center;
  gap: 10px;
  background-color: #4180ab;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
body main #menu_lateral #cont_fixed #cont_item a .item span {
  font-weight: bolder;
  font-size: 0.9em;
  color: white;
  height: auto;
}
body main #menu_lateral #cont_fixed #cont_item a .item i {
  color: white;
  font-size: 1.2em;
}
body main #menu_lateral #cont_fixed #cont_item a .item:hover {
  background-color: #3b7399;
  transform: scale(1.05);
}
body main #cont_main {
  overflow-x: hidden;
  height: auto;
  width: 100vw;
  display: flex;
  flex-direction: column;
}
body main #cont_main #text_main_horarios_fijos {
  margin-top: 3%;
  font-size: 2.5em;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
body main #cont_main .cont_header {
  display: flex;
  align-items: center;
  left: 15%;
  background-color: white;
  height: 10%;
  width: 85%;
  z-index: 1000000;
  position: fixed;
  top: 0;
  border-bottom: 1px solid #bdd1de;
  padding-left: 5%;
  gap: 10px;
}
body main #cont_main .cont_header span {
  font-size: 1.5em;
  font-weight: 100;
}
body main #cont_main .cont_header span.nombre_dia {
  font-size: 1em;
  color: #25379b;
}
body main #cont_main .cont_header .cont_dia {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 18px;
}
body main #cont_main .cont_header .cont_dia .dia {
  background-color: #4180ab;
  padding: 15px;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: white;
}
body main #cont_main #panel_options {
  width: 100%;
  height: auto;
  padding-top: 50px;
  padding-left: 50px;
}
body main #cont_main #cont_calendario {
  width: auto;
  height: auto;
  margin-top: 20px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
}
body main #cont_main #cont_calendario .cont_year {
  padding-left: 5%;
  width: 100%;
  border-bottom: 1px solid rgba(161, 161, 161, 0.171);
}
body main #cont_main #cont_calendario .cont_year #year_text {
  padding-left: 10px;
  font-size: 3em;
  color: #4180ab;
}
body main #cont_main #cont_calendario .calendario-body {
  overflow-x: hidden;
  padding-top: 2%;
  padding-left: 5%;
  padding-right: 5%;
  width: 85vw;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 60px;
  grid-row-gap: 60px;
}
body main #cont_main #cont_calendario .calendario-body .div_mes {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
  height: auto;
  width: auto;
}
body main #cont_main #cont_calendario .calendario-body .div_mes .header_dias {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
body main #cont_main #cont_calendario .calendario-body .div_mes .header_dias span {
  display: flex;
  justify-content: center;
  padding-right: 10px;
  align-items: center;
  width: 52.5px;
  height: 50px;
}
body main #cont_main #cont_calendario .calendario-body .div_mes .text_mes {
  font-size: 1.8em;
  font-weight: bold;
  padding-left: 3%;
}
body main #cont_main #cont_calendario .calendario-body .div_mes .text_mes.mes_hoy {
  color: #4180ab;
}
body main #cont_main #cont_calendario .calendario-body .div_mes .cont_dias {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  color: black;
  text-decoration: none;
}
body main #cont_main #cont_calendario .calendario-body .div_mes .cont_dias .dia_vacio {
  width: 40px;
  height: 40px;
}
body main #cont_main #cont_calendario .calendario-body .div_mes .cont_dias .dia_mes {
  color: black;
  text-decoration: none;
}
body main #cont_main #cont_calendario .calendario-body .div_mes .cont_dias .hoy {
  color: white !important;
  background-color: #4180ab;
}
body main #cont_main #cont_calendario .calendario-body .div_mes .cont_dias .hoy:hover {
  background-color: #3b7399 !important;
}
body main #cont_main #cont_calendario .calendario-body .div_mes .cont_dias .dia_mes {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}
body main #cont_main #cont_calendario .calendario-body .div_mes .cont_dias .dia_mes:hover {
  background-color: rgba(201, 201, 201, 0.397);
}
body main #cont_main #cont_calendario .calendario-body .div_mes .cont_dias .dia_mes a {
  text-decoration: none;
  color: black;
}
body main #cont_main #cont_calendario .calendario-body .div_mes .cont_dias .dia_mes a:hover {
  color: white;
}
body main #cont_main #calendar_dia {
  padding-top: 7%;
  padding-left: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}
body main #cont_main #calendar_dia .horario {
  display: flex;
  flex-direction: column;
  min-height: 8vh;
  height: auto;
  width: 100%;
  gap: 10px;
}
body main #cont_main #calendar_dia .horario .hour-item {
  position: relative;
  display: inline-block;
  font-size: 14px;
  margin: 10px 0;
  font-weight: 100;
  color: rgba(102, 102, 102, 0.8156862745);
}
body main #cont_main #calendar_dia .horario .hour-item::after {
  content: "";
  margin-left: 4px;
  position: absolute;
  left: 10;
  top: 45%;
  width: 80vw;
  height: 1px;
  background-color: rgba(102, 102, 102, 0.26);
}
body main #cont_main #calendar_dia .horario .cont_horario_timbre {
  border-radius: 5px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 20px;
  font-size: 1em;
  gap: 40px;
  margin-left: 3%;
  height: 20px;
  width: 40%;
  color: white;
}
body main #cont_main #calendar_dia .horario .cont_horario_timbre.s1 {
  background-color: #4a86b3;
}
body main #cont_main #calendar_dia .horario .cont_horario_timbre.s2 {
  background-color: #47b9a6;
}
body main #cont_main #calendar_dia .horario .cont_horario_timbre.s3 {
  background-color: #8d71c4;
}
body main #cont_main #calendar_dia .horario .cont_horario_timbre h5 {
  font-size: 0.9em;
  height: 100%;
  text-align: center;
}
body main #cont_main #cont_horarios_fijos {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: auto;
  width: 100%;
  gap: 20px;
  padding: 4% 0px;
}
body main #cont_main #cont_horarios_fijos .cont_horario {
  display: flex;
  justify-content: space-between;
  padding: 0% 3%;
  align-items: center;
  height: 6vh;
  width: 50%;
  border: 1px solid #bdd1de;
  border-radius: 10px;
}
body main #cont_main #cont_horarios_fijos .cont_horario .desac {
  display: none;
}
body main #cont_main #cont_horarios_fijos .cont_horario .cont_text {
  width: auto;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
}
body main #cont_main #cont_horarios_fijos .cont_horario .cont_text .cont_sub_text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 10px;
  display: flex;
}
body main #cont_main #cont_horarios_fijos .cont_horario .cont_text .cont_sub_text .nombre_horario {
  font-size: 1.2em;
}
body main #cont_main #cont_horarios_fijos .cont_horario .cont_butones {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
body main #cont_main #cont_horarios_fijos .cont_horario .cont_butones button {
  height: 3.2vh;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 1em;
  font-weight: 600;
  transition: all 0.2s ease-in-out;
  width: 5vw;
  color: white;
}
body main #cont_main #cont_horarios_fijos .cont_horario .cont_butones button.editar {
  color: gray;
  background-color: transparent;
}
body main #cont_main #cont_horarios_fijos .cont_horario .cont_butones button.editar:hover {
  background-color: rgba(128, 128, 128, 0.09) !important;
}
body main #cont_main #cont_horarios_fijos .cont_horario .cont_butones button.eliminar {
  background-color: rgb(42, 82, 155) !important;
}
body main #cont_main #cont_horarios_fijos .cont_horario .cont_butones button.eliminar:hover {
  background-color: rgb(40, 88, 177);
}
body main #cont_main #cont_horarios_fijos #boton_agregar {
  margin-top: 3%;
  width: 15%;
  height: 5vh;
  border-radius: 6px;
  border: none;
  background-color: #4180ab;
  color: white;
  font-size: 1em;
  font-weight: bolder;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
body main #cont_main #cont_horarios_fijos #boton_agregar:hover {
  transform: scale(1.03);
  background-color: #3b7399;
}

.forms_class .cont_input {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  flex-direction: column;
}
.forms_class .cont_input input {
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid rgba(87, 87, 87, 0.336);
  width: 60%;
}
.forms_class .cont_input label {
  width: 60%;
  font-weight: bold;
  text-align: start;
}
.forms_class .cont_botones {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  gap: 10px;
}
.forms_class .cont_botones button {
  border-radius: 10px;
  width: 30%;
  border: none;
  height: 40px;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.forms_class .cont_botones button:hover {
  background-color: #dddddd;
}
.forms_class .cont_botones button#enviar {
  color: white;
  background-color: #4180ab;
}
.forms_class .cont_botones button#enviar:hover {
  background-color: #3b7399;
}

#form_enviar_horario {
  display: none;
}
#form_enviar_horario.active {
  position: absolute;
  top: 0;
  left: 60%;
  transform: translate(-50%, -50%);
  /* Para centrar */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 40px;
  padding-top: 30px;
  height: 500px;
  width: 400px;
  border-radius: 20px;
  background-color: white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
}

#conts_form {
  display: none;
}
#conts_form.active {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 5%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  min-height: 100%;
  /* Asegura cubrir al menos toda la ventana */
  background: rgba(0, 64, 107, 0.562);
  z-index: 1;
  -webkit-backdrop-filter: blur(100px);
          backdrop-filter: blur(100px);
}
#conts_form form {
  display: none;
}
#conts_form form.active {
  background-color: white;
  border-radius: 10px;
  display: flex;
  height: 600px;
  width: 500px;
  padding-top: 3%;
  justify-content: flex-start;
  align-items: center;
  gap: 40px;
  flex-direction: column;
}
#conts_form form.active h4 {
  font-size: 1.5em;
  font-weight: bolder;
}

.desac {
  display: none;
}

@media (max-width: 1560px) {
  .calendario-body {
    grid-template-columns: repeat(2, 1fr) !important;
  }
}
@media (max-width: 1000px) {
  .calendario-body {
    grid-template-columns: repeat(1, 1fr) !important;
    display: flex !important;
    flex-direction: column;
    justify-content: center !important;
    align-items: center !important;
  }
  .calendario-body .div_mes {
    width: 80% !important;
  }
}
@media (max-width: 800px) {
  .calendario-body {
    grid-template-columns: repeat(1, 1fr) !important;
  }
  .calendario-body .div_mes {
    width: 80% !important;
    font-size: 0.8em;
  }
  .calendario-body .div_mes .header_dias {
    width: 70% !important;
  }
  .calendario-body .div_mes .header_dias .dia_semana {
    display: flex;
    justify-content: center !important;
    align-items: center !important;
    width: 30px !important;
  }
  .calendario-body .div_mes .cont_dias {
    width: 70% !important;
  }
  .calendario-body .div_mes .cont_dias .dia_mes, .calendario-body .div_mes .cont_dias .dia_vacio {
    width: 30px !important;
  }
}
@media (max-width: 1360px) {
  #menu_lateral {
    width: 200px !important;
  }
  #menu_lateral #cont_fixed {
    width: 200px !important;
  }
  .item {
    padding-left: 0px !important;
    display: flex;
    gap: 3px !important;
    justify-content: center !important;
    align-items: center !important;
    flex-direction: column;
    text-align: center;
  }
}
@media (max-width: 550px) {
  #menu_lateral {
    width: 100px !important;
  }
  #menu_lateral #cont_fixed {
    width: 100px !important;
  }
  #menu_lateral #cont_fixed img {
    display: none;
  }
  #menu_lateral #cont_fixed a .item span {
    display: none;
  }
  .item {
    padding-left: 0px !important;
    display: flex;
    gap: 3px !important;
    justify-content: center !important;
    align-items: center !important;
    flex-direction: column;
    text-align: center;
  }
}/*# sourceMappingURL=estilo.css.map */