<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calendario</title>
    <link rel="stylesheet" href="css/estilo.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
</head>

<body>
    <main>
        <aside id="menu_lateral"> <%- include('menu.ejs') %></aside>
        <div id="cont_main">
            <h1>Horarios fijos</h1>
            <section id="cont_horarios_fijos">

                <div class="cont_horario">


                    <h4 class="nombre_horario">
                        Primer recreo
                    </h4>
                    <p class="hora"></p>
                    <p class="duracion"></p>
                    <div class="cont_butones">


                        <button id="editar">
                            Editar</button>
                        <form action="/eliminar_horario_fijo/">

                            <button type="submit" id="eliminar">

                                Borrar</button>
                        </form>


                    </div>

                </div>
                <button id="boton_agregar">Agregar más horarios</button>
            </section>
        </div>

    </main>

</body>
<form action="/agregar_horario_fijo"></form>

</html>