<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calendario</title>
    <link rel="stylesheet" href="css/estilo.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
</head>

<body>
    <main>
        <%- include('menu.ejs') %>
            <div id="cont_main">
                <div id="panel_options">
                    <h1>Bienvenido al sistema de automatización del timbre</h1>
                </div>
                <div id="cont_calendario">

                    <div class="calendario-body">


                    </div>

                </div>
            </div>
    </main>
    <script src="js/calendario.js"></script>
</body>

</html>