<div id="menu_lateral">
    <div id="cont_us">
        <img src="https://i.ytimg.com/vi/hMq6F1Zx9CI/hq720.jpg?sqp=-oaymwEhCK4FEIIDSFryq4qpAxMIARUAAAAAGAElAADIQj0AgKJD&rs=AOn4CLCyBx6_v7gL_M4paLbHElkD9KRqBg" alt="">
        <h3 id="nombre_us">Ezequiel torres</h3>
    </div>
    <nav id="nav">
        <div class="cont_item">
            <i class="fa-solid fa-house icon"></i>
            <span class="text">Inicio</span>
        </div>
        <div class="cont_item">
            <i class="fa-solid fa-house icon"></i>
            <span class="text">Inicio</span>
        </div>
        <div class="cont_item">
            <i class="fa-solid fa-house icon"></i>
            <span class="text">Inicio</span>
        </div>
        <div class="cont_item">
            <i class="fa-solid fa-house icon"></i>
            <span class="text">Inicio</span>
        </div>
    </nav>
</div>