<div id="cont_fixed">
    <img src="/resources/mental-strong.png" alt="">
    <ul id="cont_item">
        <a href="/index">
            <li class="item" id="item_inicio">
                <i class="fa-solid fa-house"></i>
                <span>Inicio</span>

            </li>
        </a>
        <a href="/horarios_fijos">
            <li class="item" id="item_nut">
                <i class="fa-regular fa-clock"></i>
                <span>Horarios Fijos</span>

            </li>
        </a>
        <a href="/cerrar_sesion">
            <li class="item" id="item_cerrar-sesion">
                <i class="fa-solid fa-right-from-bracket"></i>
                <span>Cerrar sesión</span>
            </li>
        </a>
    </ul>
</div>